form{
	border: 2px solid #555;
	max-width: 500px;
	padding: 15px;
}

form input{
	display: block;
	width: 98%;
	margin: 0 0 15px 0;
}

input[type="submit"]{
	display: block;
	margin: 20px 0 0 0;
	max-width: 60px;
}
